body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  padding-top: 20px;;
}
.navigation{
  margin-bottom: 20px;
}
.cards{
  position: relative;
  z-index: 0;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cart-table{
  margin-top: 20px;
}
.cart-table-image-wrapper{
  display: block;
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.modal-close-btn{
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  font-size: 24px;
  cursor: pointer;
}

.empty-cart-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ReactModalPortal{
  z-index: 2;
  position: relative;
}
@media screen and (max-width: 576px) {
  .navigation{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    right: 0;
    background: #e7e7e7;
    padding: 10px;
  }
  body{
    padding-top: 50px;
  }
  .ReactModal__Content{
    inset: 0 !important;
    border-radius: 0 !important;
    border: none !important;
  }
}
